<div class="wrapper-primary">
    <div class="container about-container">
        <p>
            Journey Journal is an application for people who love to travel, share memories with others or browse the most beautiful moments.
            It is easy to use, seriously. This will save you a lot of time, effort and space on your phone.
            What's more, thanks to intuitive organization, you will forget about the mess and hassle of finding photos.
            The application also adds original and very easy sharing of photos/travel with the map and marked places.
        </p>
        <div>
            <p>Our team:</p>
            <ul>
                <li><span>Adam Kulczycki</span> (Backend)</li>
                <li><span>Paweł Łukasik</span> (Web App)</li>
                <li><span>Patryk Wylegała</span> (Mobile App)</li>
            </ul>
        </div>
        <p>All pictures will be placed securely on the cloud.
           Lastly, we wish you pleasant journeys and satisfaction with our application! :)
        </p>
    </div>
</div>