@import './../../variables.less';

.journey {
    &-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 40px 20px;
        border-top: 1px solid @accent;
        border-bottom: 1px solid @accent;
        
        &> p {
            padding: 20px 40px;
            color: @light-gray;
            text-transform: uppercase;
            font-size: 20px;

            &:nth-child(even) {
                border-left: 1px solid @accent;
                border-right: 1px solid @accent;
            }
        }

        &-tools {
            i {
                border-left: 1px solid @accent;
                font-size: 20px;
                padding: 20px 40px;
                color: @light-gray;

                &:hover {
                    color: @secondary;
                }
            }
        }
    }

    &-description {
        color: @text-primary;
        text-transform: uppercase;
        padding: 40px 20px;
        font-family: @font;
        border-bottom: 1px solid @gray;

        p {
            padding-top: 10px;

            &:first-of-type {
                font-size: 20px;
                padding-top: 0px;
            }

            i {
                padding: 10px;
                font-size: 20px;
            }

        }

        &-content {
            overflow: hidden;
        }
    }

    &-images {
        min-height: 70vh;
        padding: 40px 0;
    }
}