<section class="wrapper-primary">
  <div class="container journey-info">
    <p>{{ journey.title }}</p>
    <p>{{ journey.date_start | date:'shortDate' }} - {{ journey.date_end | date:'shortDate' }}</p>
    <p>{{ images.length }} images</p>
    <div class="journey-info-tools">
      <i class="fa fa-pencil" aria-hidden="true" (click)="toggleEditModal()"></i>
      <i class="fa fa-trash-o" aria-hidden="true" (click)="toggleDeleteModal()"></i>
      <i class="fa fa-download" aria-hidden="true" (click)="getDownloadUrl()"></i>
      
    </div>
  </div>
</section>
<section class="wrapper-primary">
  <div class="container journey-description">
    <p>Description
      <i class="fa fa-chevron-down" 
      aria-hidden="true" *ngIf="!this.descriptionVisible" (click)="toggleDescription()"></i>
      <i class="fa fa-chevron-up" 
      aria-hidden="true" *ngIf="this.descriptionVisible" (click)="toggleDescription()"></i>
    </p>
    <p class="journey-description-content" *ngIf="this.descriptionVisible">
      "{{ journey.description }}"
    </p>
  </div>
</section>
<section class="wrapper-primary">
  <div class="container flex-container journey-images">
    <app-polaroid *ngFor="let image of images" [image]='image' (imageDeletion)="this.removeImage($event)"></app-polaroid>
  </div>
</section>
<section class="wrapper-map">
    <agm-map [latitude]="lat" [longitude]="lng" [styles]="this.styles" [zoom]=15 [scrollwheel]=false>
        <agm-marker *ngFor="let image of images"
        [longitude]="convertStringToNumber(image.longitude)"
        [latitude]="convertStringToNumber(image.latitude)">
        </agm-marker>
    </agm-map>
</section>
<app-modal [show]="this.showEditModal" (hide)="this.toggleEditModal()">
  <h2 header>Edit Journey</h2>
  <form class="modal-form" #journeyForm="ngForm" (ngSubmit)="editJourney(journeyForm)" content>
    <label class="modal-form-input-label" for="title">Title</label>
    <input class="modal-form-input" type="text" id="title" name="title" maxlength=30 ngModel>
    <label class="modal-form-input-label" for="date_start">Start date</label>
    <input class="modal-form-input" type="date" id="date_start" name="date_start" ngModel>
    <label class="modal-form-input-label" for="date_end">End date</label>
    <input class="modal-form-input" type="date" id="date_end" name="date_end" ngModel>
    <label class="modal-form-input-label" for="description">Description</label>
    <textarea class="modal-form-input" id="description" name="description" ngModel rows="6" cols="50">
    </textarea>    
    <button type="submit" class="button modal-form-button">
      Submit changes
    </button>
  </form>
</app-modal>
<app-modal [show]="this.showDeleteModal" (hide)="this.toggleDeleteModal()">
  <h2 header>Delete Journey</h2>
  <div content>
    <p>Are you sure you want to delete this journey? All related images will be removed permanently.</p>
    <div class="modal-form-button-group">
      <button class="button modal-form-button button-cancel" (click)="this.toggleDeleteModal()">
        Cancel
      </button>
      <button class="button modal-form-button" (click)="deleteJourney()">
        Delete
      </button>
    </div>
  </div>
</app-modal>
