<section class="wrapper-primary">
  <div class="container flex-container gallery-container">
    <div class="gallery-images-thumbnail" *ngFor="let image of images" (click)='showPolaroid(image)'>
        <cl-image 
        [public-id]=image._id
        class="thumbnail inline" 
        format="jpg">
        <cl-transformation height="150" width="150" crop="fill">
        </cl-transformation>
      </cl-image>
    </div>
  </div>
</section>
<section>
  <app-map
  [images]="images"
  (openImageModal)="showPolaroid($event)">    
  </app-map>
</section>
<app-modal-polaroid
[selectedImage]="this.selectedImage"
[images]="this.images"
[show]="this.showPolaroidModal"
(hide)="this.togglePolaroidModal()"
(imageDeletion)="this.removeImage($event)">
</app-modal-polaroid>