<div class="modal-polaroid-container" *ngIf="show">
  <i class="fa fa-times modal-polaroid-container-exit" aria-hidden="true" (click)="closeModal()"></i>
  <div class="modal-polaroid-container-content">
    <i class="fa fa-arrow-circle-left" aria-hidden="true" (click)="selectPrevious()"></i>
    <app-polaroid
    [image]="this.image"
    (imageDeletion)="this.emitRemoveImage($event)">
    </app-polaroid>
    <i class="fa fa-arrow-circle-right" aria-hidden="true" (click)="selectNext()"></i>
  </div>
</div>