<div class="wrapper-primary navbar-fixed">
    <nav class="container navbar">
      <a class="navbar-logo" routerLink="">
        JOURNEY JOURNAL
      </a>
      <ul class="navbar-list">
        <li class="navbar-list__item">
          <a routerLink="gallery">gallery</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="journeys">journeys</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="profile">profile</a>
        </li>
        <li class="navbar-list__item">
          <a routerLink="about">about</a>
        </li>
      </ul>
  </nav>
</div>
<div class="navbar-clearfix"></div>
<router-outlet></router-outlet>
<app-footer></app-footer>