<div class="polaroid-container">
  <div class="polaroid-image">
    <cl-image 
      [public-id]=image._id
      class="thumbnail inline" 
      format="jpg">
      <cl-transformation 
        height="272" 
        width="272" 
        crop="fit">
      </cl-transformation>
    </cl-image>
  </div>
  <div class="polaroid-info">
    <p>Barcelona</p>
    <i class="fa fa-star-o" aria-hidden="true" *ngIf="!image.isFavourite" (click)="toggleIsFavourite(true)"></i>
    <i class="fa fa-star" aria-hidden="true" *ngIf="image.isFavourite" (click)="toggleIsFavourite(false)"></i>    
    <p>11.08.17</p>
  </div>
</div>
