<div class="polaroid-container">
  <div class="polaroid-image">
    <cl-image 
      [public-id]=image._id
      class="thumbnail inline" 
      format="jpg">
      <cl-transformation 
        height="272" 
        width="272" 
        crop="fit">
      </cl-transformation>
    </cl-image>
  </div>
  <div class="polaroid-info">
    <p>{{ image.title }}</p>
    <div class="polaroid-info-bottom-row">
      <p>11.08.17</p>
      <div class="polaroid-info-tools">        
        <i class="fa fa-pencil" aria-hidden="true" (click)="this.toggleEditModal()"></i>
        <i class="fa fa-star-o" aria-hidden="true" *ngIf="!image.isFavourite" (click)="toggleIsFavourite(true)"></i>
        <i class="fa fa-star" aria-hidden="true" *ngIf="image.isFavourite" (click)="toggleIsFavourite(false)"></i>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteImage()"></i>        
      </div>
    </div>
  </div>
</div>
<app-modal [show]="this.showEditModal" (hide)="this.showEditModal = $event">
  <h2 header>Edit Photo</h2>
  <form class="modal-form" #imageForm="ngForm" (ngSubmit)="editImage(imageForm)" content>
      <input class="modal-form-input" type="text" placeholder="TITLE" name="title" maxlength=30 ngModel>
      <input class="modal-form-input" type="text" placeholder="TAGS" name="tags" ngModel>      
      <button type="submit" class="button modal-form-button">
        Submit changes
      </button>
  </form>
</app-modal>
