@import url('https://fonts.googleapis.com/css?family=Lato:900|Pacifico');

// @coral:	#ff3860;
@coral:	#d82b52;

// @indigo: #333F4B;
@indigo: #0f131d;
@gray: #474F5A;
// @light-gray: #969DA5;
// @light-gray: rgb(208, 215, 223);
@light-gray: #ebebeb;
@white: #ebebeb;
@line-shadow: #d4d4d4;
@primary: @indigo;
@secondary: @coral;
@accent: @gray;
@text-primary: @light-gray;
@font: 'Lato', sans-serif;
@card-font: 'Pacifico', cursive;

@big-screen: 1440px;
@medium-screen: 1290px;
@small-screen: 1170px;
@mobile: 768px;