<section class="wrapper-primary">
  <div class="container journeys-filters">
    <div class="journeys-filters__list">
      <div class="journeys-filters__list-element">
        <p>Sort by:</p>
      </div>
      <div class="journeys-filters__list-element">
        <p>Date</p>
        <i class="fa fa-sort-alpha-asc" aria-hidden="true"></i>
      </div>
      <div class="journeys-filters__list-element">
        <p>Title</p>
        <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
      </div>
    </div>
    <input placeholder="SEARCH"(keyup)="onSearch($event)"/>
  </div>
</section>
<section class="wrapper-primary">
  <div class="container flex-container journeys-list">
    <app-journey-card *ngFor="let journey of journeysList" [journey]='journey'></app-journey-card>
  </div>
</section>
