<section class="wrapper-primary">
  <div class="container home home__landing">
    <div class="home__landing-content">
      <h1>JOURNAL OF YOUR JOURNEY</h1>
      <p>
        How many times did you plan to organize all of photos from vacations, trips and journey? 
        How many of great photos have you deleted to free up space on hard drive?
        How many of them have you lost due to missing pendrives or DVDs?
        How much time did you spend on coping photos from your camera?
        This is Journey Journal, your personal tool for managing, storing and sharing photos from vacations.
         No more lost memories.
      </p>
      <a routerLink="authorize">Sign in...</a>
    </div>
    <div class="home__landing-image">
      <i class="fa fa-globe" aria-hidden="true"></i>
    </div>
  </div>
</section>
<section class="wrapper-white">
  <div class="container home home__offer">
    <h1>WHAT EXACTLY OUR JOURNAL OFFERS?</h1>
    <div class="home__offer-list">
      <div class="home__offer-list__item">
        <i class="fa fa-picture-o" aria-hidden="true"></i>
        <h1>Storing Photos ...</h1>
        <p>
         You can store photos from all of yours small and big trips without fear of losing any data. 
         We use Cloudinary to provide you with a quick photos uploading and downloading service.
        </p>
      </div>
      <div class="home__offer-list__item">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        <h1>... Places ...</h1>
        <p>
          We remember exact places where Your photos where taken so you can go back to those wonderful 
          places and see where you have been!
        </p>
      </div>
      <div class="home__offer-list__item">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
        <h1>... and more!</h1>
        <p>
          As well as storing photos and places we have bunch of other stuff like journey date, 
          social sharing or gallery with favourite photos from all your journeys!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="wrapper-white">
  <div class="container home home__about">
    <h1>HOW DOES IT WORKS?</h1>
    <div class="home__about-list">
      <div class="home__about-list__item">
        <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Create Journey</h1>
          <p>
            Get Our FREE Android App and create an account. You can sign in using your Facebook as well.
             Then create a new Journey, give it a title, description, start and end date. 
          </p>
        </div>
      </div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <div class="home__about-list__item">
        <i class="fa fa-camera-retro" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Take photos</h1>
          <p>
            Take photos using Our App while having your trip. 
            You can also use your phone camera and upload images from gallery.
            You can as well create trips from the past and upload old photos.
          </p>
        </div>
      </div>
      <i class="fa fa-angle-down" aria-hidden="true"></i>
      <div class="home__about-list__item">
        <i class="fa fa-desktop" aria-hidden="true"></i>
        <div class="home__about-list__item-content">
          <h1>Manage, edit, share!</h1>
          <p>
            You can view, edit and share all of your images from almost any device.
             Forget about fulled micro-SD or lost data. We take care of your photos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>